<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" /> 
    <title></title>
  </head>
  <body> 
    <table>
    <form method='post' action='/addTask'>
            <tr>
             <td><label for="inputTask">Add ToDo</label></td>
             <td>
             <input
             type="text"
             id="inputTask"
             name="addTask"
             placeholder="Add task"
             required
             autofocus
             />
             </td>
             </tr>
             <tr>
             <td>
               <button class="btn btn-lg btn-primary btn-block" type="submit">
                              Add
                            </button>
                          </td>
                        </tr>
             
   </form>
   <form method='post' action='/signout'>
    <tr>
        <td>
            <button class='btn btn-lg btn-primary btn-block' type='submit'>Signout</button>
        </td>
    </tr>
   </form>
</table>
<%=msg%>


  </body>
</html>